# Env vars used by AuthJs/NextAuth
## Google OAuth Credentials
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

## GitHub OAuth Credentials
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

## AuthJs Secret used for signing/encrypting JWTs
AUTH_SECRET=

# Database connection URL
DATABASE_URL=

# Database direct url used by prisma CLI to run migrations (in most cases identical to DATABASE_URL)
DIRECT_URL=

# Resend API Key for sending emails
RESEND_API_KEY=

# AES 256 Encryption Key for encrypting connection credentials
# Can be generated using the following command in the terminal
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
ENCRYPTION_KEY=

# Used for billing (Polar), not necessary for local development / self hosting
POLAR_ACCESS_TOKEN=
POLAR_WEBHOOK_SECRET=